.container{
    width: 1180px;
    display: block;
    margin: auto;
}
.heading{
    font-size: 2rem;
    color: #7fffd4;
    text-align: center;
    background-color: #f0ffff;
}
.logoContainer{
    background: black;
    padding: 6px 12px
}